#section
{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Comic Sans MS', cursive;
	font-size: 1.5em;
	min-height : 20em;
	height: auto;
	margin: 2em 1em 2em 1em;
}
#title
{
	width: 30%;
	padding: 0.75em 0 0.75em 0;
	background-color : #a7a7a7;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#article
{
	text-align: justify;
	width: 95%;
	margin: 1em;
	padding: 0.75em;
	background-color : #a7a7a7;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	word-break: break-word;
}